* {
    margin-top: 0;
}

head {
    padding: 0;
}

body {
    background-color: white;
}

#map {
    height: 88vh;
    background-color: white;
    border: 2px solid;
}

#search_bar {
    padding: 2px;
}

.messages {
    margin-top: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr auto;
}

#map_container {
    background: white;
}

#message-bar {
    border: 1px solid gray;
    background-color: white;
}
